<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 全局启用或禁用延迟加载。禁用后，所有关联对象都会即使加载 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 使用驼峰命名法-->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>
</configuration>